---
extends:
  - standard
  - standard-react
  - plugin:import/warnings
  - plugin:import/errors
  - sketch
parser: babel-eslint
parserOptions:
  ecmaVersion: 2017
  sourceType: module
  ecmaFeatures:
    jsx: true
globals:
  COScript: false
  coscript: false
  NSClosableWindowMask: false
  NSTitledWindowMask: false
  NSAlertFirstButtonReturn: false
  NSPasteboard: false
  NSDragPboard: false
  NSTemporaryDirectory: false
  MSImmutableColor: false
  MOClassDescription: false
  NSUUID: false
  NSClassFromString: false
  NSSelectorFromString: false
  NSNotificationCenter: false
  NSTaskDidTerminateNotification: false
  NSFileHandleReadToEndOfFileCompletionNotification: false
  NSFileManager: false
  NSDownloadsDirectory: false
  NSUserDomainMask: false
  NSMutableURLRequest: false
  NSURLConnection: false
  NSOutputStream: false
  NSURLSession: false
  NSURLSessionConfiguration: false
  MOPointer: false
  NSOperationQueue: false
  NSURLDownload: false
  NSASCIIStringEncoding: false
  NSInputStream: false
  Mocha: false
  AtlassianSketchFramework: false
  AtlassianURLConnectionDelegate: false
  AtlassianURLDownloadDelegate: false
  NSFileSize: false
